<<<<<<< HEAD
<% if flash[:errors] %>
<% flash[:errors].each do | error | %>
<li style="color: red"><%= error %> </li>
<% end %>
<% end %>


=======
>>>>>>> 862afd2750da96d1fe654aaf16df8394495dbf61
<%= render 'form' %>